.tracking-page {
    background-color: #f8f9fa;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.btn-back {
    width: 95%;
    padding-top: 1.5rem;
    margin-left: 2rem;
}

.back-button img {
    width: 1000px;
    height: 1000px;
}

.icon:hover {
    cursor: pointer;
    color: #D50032;
}

.icon:active {
    color: #970000
}

/* TRACKING STATUS SECTION */
.tracking-status {
    width: 90%;
}

.tracking-status h1 {
    margin-bottom: 0.5rem;
    color: #003C71;
}

.finish-time {
    position: relative;
    color: #333333;
    padding: 1rem;
    border-radius: 8px;
    background: linear-gradient(90deg, #D50032, #003C71);
    z-index: 0;
}

.finish-time::before {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    background: #ffffff;
    border-radius: 7px; 
    z-index: -1;
}

.time-value {
    margin-left: 2rem;
}

.progress-bar {
    margin: 0.5rem 0;
    background-color: #dddddd;
    height: 1rem;
    border-radius: 3px;
}

.progress-fill {
    height: 100%;
    background-color: #0085AD;
}

/* MAP SECTION */
.Map-Container {
    width: 100%;
    z-index: 0;
}

.map {
    width: 100%;
    height: 70vh;
}

.map-container {
    width: 100%;
    height: 100%;
}

/* ORDER DETAILS SECTION */
.order-details {
    background-color: #f8f9fa;
    width: 100%;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
}

.drag-handle {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 40px;
    margin-top: 0.5rem;
    border-radius: 10px;
    background-color: rgb(119, 123, 119, 0.6);
    cursor: ns-resize;
    touch-action: none;
}

.order-details-header {
    display: flex;
    color: #003C71;
}

.order-details-header h2 {
    margin-left: 5%;
    color: #003C71;
}

.order-details-header h3 {
    position: absolute;
    right: 0;
    padding-top: 0.3rem;
    margin-right: 5%;
}

.order-num, .address {
    margin: 16px 5%;
    padding: 0.7rem;
    color: #333333;
    border-radius: 8px;
    background: linear-gradient(90deg, #D50032, #003C71);
    position: relative;
    z-index: 0;
}

.order-num::before,
.address::before {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border-radius: 7px;
    background: #ffffff;
    z-index: -1;
}